<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Support</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/screen.css">
  </head>
  
  <body>
    
    <div id="viewport-container" class="dm-box-shadow">
      <div id="viewport">
        <div id="container">
          <h1>UA Web Challenge: Part 1</h1>
      
          <div class="dm-promo">
            <img src="img/kiev.jpg" width="800" height="532" alt="" />
          </div>
          
          <h3>Програма підтримки користувачів</h3>
          
          <p>
            Ця веб сторінка демонструє функціонал програми, написаної мовою Javascript. Програма була розроблена
            за допомогою наступних бібліотек:
          </p>
          
          <ul>
            <li>jQuery</li>
            <li>Backbone</li>
            <li>Underscore</li>
          </ul>
          
          <h3>Як розпочати роботу з програмою?</h3>
          
          <p>
            Для того, щоб зв'язатися зі співробітником нашого департаменту підтримки користувачів вебсайту, натисніть на кнопку, що розташована на екрані зправа.
          </p>
          
          <h3>Інструкція</h3>
          
          <ol>
            <li>Саппорт відкриває сторінку support.html</li>
            <li>Клієнт відкриває сторінку client.html і натискає на кнопку із іконкою коментаря</li>
            <li>Клієнт надсилає перше повідомлення</li>
            <li>Саппорт отримує запрошення допомогти цьому клієнту і підтверджує це запрошення натискаючи на кнопку "Звісно"</li>
            <li>Саппорт бачить viewport клієнта</li>
            <li>Саппорт може допомогти клієнту за допомогою кліків на своєму екрані</li>
          </ol>
          
          <h2>Висота контейнера була завдана для того, щоб продемонструвати скрол у вьюпорті.</h2>
        </div>
      </div>
      
      <div id="viewport-cover">&nbsp;</div>
      <div id="viewport-ajax-loader">&nbsp;</div>
    </div>
    
    
    <!-- Chat notification template -->
    <script id="tmpl-dm-chat-notification" type="text/template">
      <div class="dm-chat-notification-client"><%= clientName %> каже:</div>
      <div class="dm-chat-notification-client-message"><%= clientMessage %></div>
      <div class="dm-chat-notification-message"><%= message %></div>
      <div class="dm-chat-notification-actions">
        <a class="dm-chat-notification-accept dm-chat-button" href="#">Звісно!</a>
      </div>
    </script>
    
    
    <!-- Chat container template -->
    <script id="tmpl-dm-chat" type="text/template">
      <div class="dm-chat-messages">
        <ul></ul>
      </div>
        
      <div class="dm-chat-reply">
        <textarea class="dm3-chat-reply-textarea"></textarea>
        <a class="dm-chat-reply-submit dm-chat-button" href="#">Submit</a>
      </div>
    </script>
    
    
    <!-- Message template -->
    <script id="tmpl-dm-chat-message" type="text/template">
      <div class="dm-chat-message-meta"><span class="dm-chat-message-time"><%= time %></span><%= me %></div>
      <div class="dm-chat-message-body"><%= body %></div>
    </script>
    
  </body>
</html>


<!-- Javascripts -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script>
/**
 * Globals
 */
DM_CHAT_GLOBALS = {
  me: 'support',
  app: 'support',
  t: {
    'chatOpen': 'Відкрити чат підтримки користувачів',
    'newClientNotification': 'Чи бажаєте ви допомогти цьому користувачеві?'
  }
};


/**
 * Establish connection
 */
var dm_socket = io.connect('http://localhost:8080');
</script>
<script src="/js/chat.js"></script>
<script src="/js/viewport.js"></script>